<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="TehnomanijaAutomatizacija" parallel="tests" thread-count="3">

    <test name="RegistracijaChrome">
        <parameter name="browser" value="CHROME"/>
        <classes>
            <class name="test_classes.Registracija"/>
        </classes>
    </test>


</suite>